body{
    font-family: 'Work Sans', sans-serif;
}

.grid_item:hover{
    filter: opacity(0.3);  
    transition: 600ms;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.label-flex{
    display: flex;
    align-items: center;
}

.fake{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 25%;
    display: inline-block;    
    position: relative;
    margin-left: 15px;
}

/* .fake::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: aqua;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
} */

.fake::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #3040C4;
    left: 10%;
    top: 50%;
    opacity: 0;
    transform: rotate(60deg);
}


.fake::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: #3040C4;
    left: 37%;
    top: 50%;
    opacity: 0;
    transform: rotate(-60deg);
}

.checkbox:checked ~ .fake::before, .checkbox:checked ~ .fake::after{
    opacity: 1;
    transition: 1s;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_grid{
    padding: 30px 0;
}

.logo_grid-item img{
    max-width: 100%;
}

.button-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.button-flex .button{
    margin-right: 10px;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

.header_link:hover{ 
    font-weight: bold;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    background: radial-gradient(circle, rgba(0,19,196,1) 0%, rgba(0,115,251,1) 100%); 
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
}

.button:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 700ms;
    background: #FFFFFF;
    color: #3040C4;
}

.button-white{
    width: 160px;
    height: 48px;
    border: none;
    background: #FFFFFF;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
}

.button-white:hover{
    transform: scale(1.1);
    transition: 700ms;
    background: radial-gradient(circle, rgba(0,19,196,1) 0%, rgba(0,115,251,1) 100%); 
    color: #F4F5F7;
}


.header_link1:hover::before{
    content: '1';
    font-size: 25px;
    color: #3040C4;
    position: absolute;
    top: 20px;
    left: 20px;
}

.header_link2:hover::after{
    content: '2';
    font-size: 25px;
    color: #3040C4;
    position: absolute;
    top: 20px;
    left: 20px;
}

.main{
    background-color: #F3C6BD;
    position: relative;
    padding-bottom: 126px;
}

.main_container > div:first-of-type{
    z-index: 1;
}

.main_container > div:last-of-type{
    z-index: 0;
    position: absolute;
    right: 25px;
}

.main_title{
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 754px;
    margin-bottom: 34px;
}

.main_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 456px;
    margin-bottom: 54px;
}

.intro{
    background-color: #F4F5F7;
    padding: 77px 0;
}

.intro-1, .intro-2, .intro-3{
    max-width: 555px;
}

.intro-3 , .grid_text p{
    max-width: 555px;
    margin: 0 auto;
}

.intro-1 h3, .intro-2 h3, .intro-3 h5{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.intro-3 h5, .intro-3 p{
    text-align: center;
}

.intro-1 p, .intro-2 p, .intro-3 p{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.intro-3 h3{
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
}

.engage{
    background-color: #edf8fa;
}

.engage1{
    padding: 108px 0 107px;
}

.engage_h3{
    margin: 24px 0 30px;
}

.engage_b{
margin: 34px 0 111px;
}

.trusted{
    padding: 62px 0 62px;
    position: relative;
}

.trust-img{
    position: absolute;
    bottom: -20px;
    right: 0;
}

.grid3{
    display: grid;
    gap: 31px;
    grid-template-columns: repeat(4, 262px);
    grid-template-rows: repeat(1, 300px);
    justify-content: center;
}

.grid3 a{
    display: inline-block;
    font-size: 22px;
    line-height: 28px;
    text-align: center; 
    color: #2B292D;
    padding: 22px 25px 33px;
    font-weight: bold;
}
.grid3 img{
    padding: 22px 51px 0;
}

.grid3 a{
    text-decoration: none;
}

.grid3 div{   
    text-align: center;
    background-color: #fff;
    max-width: 262px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.grid3 div:hover{
    background-color: #3141C5;
    transition: 500ms;
}

.grid3 div:not(:last-child){
    margin-right: 30px;
}

.about-wrapper{
    padding: 60px 0 0;
}

.about-items{
    max-width: 750px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 26px 25px;
    border: 2px solid gray;
    border-radius: 8px;
}

.about-text{
    margin-top: 10px;
    max-width: 410px;
    display: none;
}

.about-rotate-icon{
    transform: rotate(90deg);
}

.change-color{
    color: white;
    background-color: #3141c5;
    transition: 300ms;
    border: #3748dc;    
    transition: 1s;
}

.change-text{
    display: none;
}

.about-pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
}

.about-location{
    position: absolute;
    font-size: 18px;
    line-height: 24px;
    left: 60.4%;
    right: 8.67%;
}

.grid{
    display: grid;
    gap: 49px 41px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    padding-bottom: 93px;
}

.grid_item:nth-child(3), .grid_item:nth-child(4){
    grid-row: span 2;
}

.grid_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.grid_text{ 
    text-align: center;
    padding: 88px 0 0;
}
.grid_text p{
    font-size: 24px;
    line-height: 34px;
}
.grid_text h3{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

.grid_text p{
    padding: 26px 0 96px;
}

.inbox{
    background-color: rgba(252, 240, 227, 0.4);
    padding: 115px 0 116px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background-color: #fff;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_name{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}

.inbox_img{
    margin-right: 11px;
}

.inbox_position{
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.info_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 26px;
}

.info_pretitle-orange{
   color: #F1592B; 
}

.info_pretitle-blue{
    color: rgba(1, 137, 209, 1);
    margin-bottom: 24px;
}

.info_title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 26px;
    max-width: 462px;
}

.info_title-margin{
    margin-bottom: 30px;

}
.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.info_text-margin{
    margin-bottom: 39px;
}

/* .button-margin{
    margin-bottom: 129px;
} */

.communicate1{
    padding: 110px 0 105px;
}

.communicate_info-flex{
    display: flex;
    justify-content: space-between;
}

.communicate-flex{
        display: flex;
    align-items: start;
}

.communicate_info-container{
    max-width: 360px;
}

.communicate_info-list span{
    font-weight: bold;
}

.communicate_info-p{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 10px;
}

.communicate_info-a{
    font-weight: bold;
}

.communicate_info-a:visited{
    color: 
    rgba(49, 66, 198, 1);
}

.communicate-padding{
    padding-bottom: 105px;
}

.trust_text{
    text-align: center;
    margin: 0 auto;
}

.trust_pretitle{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 62px 0 28px;
}

.trust_pretitle-blue{
    color: rgba(49, 66, 198, 1);
}

.trust_p{
    max-width: 750px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin: 0 auto;   
    margin-bottom: 34px;
}


.trust_rounds{
    margin: 38px 0 67px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trust_rounds-item{
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 100%;
}

.trust_rounds-item:hover{
    background-color: rgba(49, 66, 197, 1);
    transition: 500ms;
}

.trust_rounds-item:not(:last-of-type){
    margin-right: 30px;
}

.hiring-button{
    width: 247px;
    height: 48px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    
}

.hiring_texts{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hiring_title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 555px;
    text-align: center;
}

.hiring_text{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    max-width: 555px;
    margin-bottom: 28px;
}

.trial{
    background: rgba(244, 245, 247, 1);
}

.trial-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 106px 0 105px;
}

.trial_tou{
    color: rgba(43, 41, 45, 0.6);
}

.trial_texts{
    max-width: 500px;
    margin: 0 auto;
}

.trial_texts form{
    display: flex;
    flex-direction: row;
}

.trial_texts input{
    width: 250px;   
    margin-right: 10px;
}

.trial_texts input::placeholder{
    font-size: 18px;
    line-height: 13px;
    color: #2B292D;
    padding: 18px 224px 18px 15px;

}

.trial_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 12px;
}

.trial_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 26px;
}

.trial_tou{
    font-size: 14px;
    line-height: 22px;    
    margin-top: 10px;
}

.foundation_footer-padding{
    padding: 134px 0 59px;
}

.foundation_footer-contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 13px 0 52px;
}

.foundation_footer-tpl{
    display: flex;
    flex-direction: row; 
    color: rgba(43, 41, 45, 0.6);
    /* align-items: center; */
    justify-content: space-between;
}

.foundation_footer-tpl p:not(:last-of-type){
    margin-right: 20px;
}

.foundation_footer-tpl p{
    cursor: pointer;
}

.foundation_footer-logos{
    display: flex;
    flex-direction: row; 
    cursor: pointer;
}

.foundation_footer-logosget-apple:not(:last-child){
    margin-right: 10px;
}

.foundation_footer-logos div:not(:last-of-type){
    margin-right: 20px;
}

.foundation_break{
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background: #2B292D;
    opacity: 0.1;
}

.footer-flex{
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    justify-content: flex-start;
}

.flex_logo{
display: flex;
align-items: center;
}

.footer_p-margin{
    margin: 26px 0 25px;
    color: rgba(43, 41, 45, 0.6);
    line-height: 26px;
    font-size: 18px;
}

.footer_p1 p:not(:last-child){
    margin-bottom: 15px;
    margin-right: 15px;
}

.footer_p1 h6{
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    color: #2B292D;
    margin-bottom: 16px;
}

.engage_img:hover > a{
    color: white
}

.preview_pretitle{
    font-size: 22px;
    line-height: 34px;
    font-weight: bold;
    color: #009B4D;
}

.preview-flex_small{
    display: flex;
    align-items: center;
    padding: 10px 0;
    /* border-bottom: 1px solid grey; */
}

.preview-items{
    padding: 1px;
    border-bottom: 1px solid grey;
}

.toggle-hr-prev{
    border-bottom: 3px solid blue;
}

.preview-compass{
    margin-bottom: 8px;
}

.preview {
    padding: 117px 0 103px;
    position: relative;
}

.eye{
    position: absolute;
    left: 0;
    top: 250px;
    display: none;
}

.preview_header_small{
    font-size: 22px;
    line-height: 34px;
    color: #009B4D;
    font-weight: bold;
    margin-bottom: 24px;
}

.preview_caption{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 30px;
}

.preview_text .p{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 42px;
}

.preview_text{
    max-width: 460px;
    position: relative;
}

.preview-heading_small{
    font-size: 22px;
    line-height: 26px;
    color: #3142C6;
    font-weight: bold;
    margin-left: 15px;
}

.preview-h3_small{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #2B292D;
    padding-left: 10px;
    text-align: left;
}

.preview-h3_small-change{
    transition: 1ms;
    color: #3142C6;
}
 
.preview-br{
    height: 1px;
    max-width: 457px;
    background-color: rgba(43, 41, 45, 0.3);
    margin-bottom: 17px;
}

.preview-br-change{
    /* height: 3px;   */
    background-color: rgba(49, 66, 198, 1);
    transition: 700ms;
} 

.preview-text_small{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 17px;
}

.preview-items p{
    display: none;

}

li{
    display: inline-block;
    margin-right: 15px;
}



.check{
    width: 30px;
    height: 3px;
    background-color: black;
}

.check:not(:last-of-type){
    margin-bottom: 4px;
}

.checkbox, .check-wrapper{
    display: none;
}


.modal-overlay{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.modal{
    position: absolute;
    max-width: 550px;
    text-align-last: center;
    background-color: #fff;
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close{
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

.foundation_footer-flex, .footer_p-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer_p-align{
    align-items: flex-start;
}

.footer_p-align p{
    color:  rgba(43, 41, 45, 0.6);
}

#up{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    font-size: 22px;
    font-weight: bold; 
    color: white;
    background-color:rgba(241, 89, 43, 0.4);  
    backdrop-filter: blur(5px);
    border-radius: 50%;
    text-align: center; 
    /* display: flex; 
     justify-content: center;
    align-items: center; */   
    cursor: pointer;
}

#up span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: inline-block;
}

#up:hover{
    transform: scale(1.1);
    transition: 700ms;
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 1040px;
    }

    .preview-container{
        max-width: 450px;
    }

    .header_ul{
        margin-right: 50px;

    }

    .grid{
        gap: 30px 30px;
    }
}

@media screen and (max-width: 1090px){
    .eye{
        display: inline-block;
    }

    .header_link1:hover::before{
        content: '';
    }
    
    .header_link2:hover::after{
        content: '';
    }

    .foundation_footer-flex{
        flex-direction: column;
    }

    .footer_p-align{
        flex-direction: column;
    }

    .communicate_info-flex{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .communicate-flex{
        flex-direction: column;
        align-items: center;
    }

    .communicate-img{
        margin-bottom: 38px;
    }

    .checkbox, .check-wrapper{
        display: block;
        width: 40px;
        height: 40px;
    }

    .menu-all{
        display: none;
    }

    .menu{
        position: relative;
    }

    .check{
        transition: 700ms;
    }

    .checkbox{
        position: absolute;
        width: 40px;
        height: 40px;
        margin: 0;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: 5;
    }

    .check-wrapper{
        position: relative;
        z-index: 4;
    }

    .checkbox:checked ~ .check-wrapper > .check:first-of-type{
        transform: rotate(45deg) translate(-50%, -50%);
        top: 21px;
        left: 8px;
        position: absolute;
    }


    .checkbox:checked ~ .check-wrapper > .check:last-of-type{
        transform: rotate(-45deg) translate(-50%, -50%);
        top: 0;
        right: 0;
        position: absolute;
    }

    .checkbox:checked ~ .check-wrapper > .check:nth-of-type(2){
        opacity: 0;
    }

    .checkbox:checked ~ .menu-all{
        display: block;
        position: absolute;
        background-color: white;
        margin-top: 10px;
        top: -70%;
        right: -60%;
        text-align: center;
        padding: 30px;
        z-index: 3;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 300ms;
    }

    .menu-all a{
        font-size: 40px;
        line-height: 78px;  
        letter-spacing: -0.5px;
        text-align: center;
    }

    .menu-all a:hover{
        font-weight: bold;  
    }

    .menu-all ul{
        margin: 0 auto; 
    }

    .menu-all .button{
        width: 350px;
        height: 100px;
        font-size: 30px;
        font-weight: bold;
    }

    .flex_menu{
        flex-direction: column;
    }

    li{
        margin-right: 0;
        margin-bottom: 20px;
    }










    .container{
       max-width: 750px; 
    }

    .logo_text{
        display: none;
    }

    .logo_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 25px 0;
    }

    .logo_grid-item{
        align-self: center;
        justify-self: center;
    }

    .flex-1090{ 
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .preview_caption {
        max-width: 462px;
        margin: 0 auto;
    }

    .preview_text .p {
        font-size: 20px;
        max-width: 392px;
        margin: 12px auto 50px;        

    }

    .preview_text h2{
        font-size: 48px;
    }

    .preview-text_small{
        font-size: 18px;
        line-height: 26px;
        max-width: 459px;
        margin: 0 auto;     
        text-align: left;
        margin-bottom: 21px;
    }
    
    .preview-img{
        margin: 49px 0 67px;
    }

    .preview-img img{max-width: 100%;
    margin: 0 auto;
    }

    .preview-br{
        width: 457px;
    }

    .preview {
        padding: 16px 0 67px
    }

    .header_nav{
        display: none;
    }

    .intro .flex{
        flex-direction: column;
    }
    .flex_inbox-column{
        flex-direction: column-reverse;
    }

    .info_button{
        max-width: 160px;
        margin: 0 auto 37px;
    }

    .info_pretitle-blue{    
        text-align: center;
    }

    .info{
        text-align: center;
    }

    .info_title{
        margin: 0 auto 14px;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
    }

    .info_text{
        max-width: 429px;
        font-size: 20px;
        line-height: 26px;
        margin: 0 auto 41px;
        text-align: center;
    }

    .main_container{
        flex-direction: column;
    }

    .main_container > div:last-of-type{
        z-index: 0;
        position: static;
        right: 25px;
    }
    
    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }

    .grid3{
        display: grid;
        gap: 31px;
        grid-template-columns: repeat(2, 262px);
        grid-template-rows: repeat(2, 300px);
        justify-content: center;
    }


/* 
   .engage_img-1:hover p{
        color: #fff;

    } */

    /* .grid3:hover  p{

    }   */

    .grid{
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .grid_item:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .grid_item:nth-child(4){
        grid-row: 2/4;

    }

    .grid_item:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .grid_item:nth-child(7){
        display: none;
    }

    .trial-flex{
        flex-direction: column-reverse;
    }

    .trial_tou {
        font-size: 12px
    }

    .foundation_footer-tpl {
        flex-direction: column;
        align-items: center;
    }

    .footer_p-align{
        margin: 0 auto 38px;
        max-width: 300px;
    }

    .footer_p-align div:not(:last-child){
        margin: 32px 0 25px;
    }

    .foundation_footer-logosget{
        display: flex;
        justify-content: space-between;
    }

    .foundation_footer-padding {
        padding: 43px 0 0
    }

    .footer_p-align p{
        font-size: 20px;
        line-height: 30px;
        color: rgba(43, 41, 45, 0.6);  
    }

    .footer_p1 h6{
        margin-bottom: 32px;
        font-size: 28px;
    }

    .footer_p1{
        margin-right: 90px;
    }

    .foundation_break{
        display: none;
    }

    .footer_p-text{
        display: none;
    }

    .flex_logo{
        flex-direction: column;
        text-align: center;
    }

    .footer-flex img, .logo-margin{
        margin: 0 0 32px;
        line-height: 25px;
    }

    .logo_title, .footer_logo_text{
        font-size: 24px;
    }

    .foundation_footer-tpl-1090{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .foundation_footer-contacts{
        max-width: 300px;
        margin: 0 auto;
        flex-direction: column;
    }

    .trust-img{
        position: relative;
        max-width: 250px;
        margin: 0 auto;
        
    }
}

@media screen and (max-width: 800px){

    .communicate-flex {
        align-items: center;
        flex-direction: column;
    }

    .communicate-text button{
        margin-bottom: 40px;
    }

    .info_title{
        font-size: 56px;
    }

    .info_text{
        margin: 0 0 20px;
    }

    .communicate-img img{
        height: 70%;
        width: 70%;
        padding: 0 0 50px;
    }

    .menu-all{
        display: none;
    }

    .checkbox{
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
        opacity: 0;
    }

    li{
        margin-right: 0;
        margin-bottom: 20px;
    }

    .eye{
        display: none;
    }

    .container{
        max-width: 500px;
    }

    .header_ul{
        margin-right: 50px;
    }

    .header{
        padding: 25px 0;
    }

    .inbox{
        padding: 40px 0;
    }

    .inbox_response{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 550px){

    .container{
        max-width: 430px;
    }

    .info_title{
        font-size: 36px;
        line-height: 48px;
    }

    .info_pretitle{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px){
    .container{
        max-width: 310px;
    }

    .container-image_img{
        width: 100%;
    }

    .trial_texts{
        max-width: 380px;
        margin: 0;
        margin-bottom: 20px;
    }

    .grid3 {
        gap: 15px;
        grid-template-columns: repeat(1, 262px);
        grid-template-rows: repeat(1, 300px);
    }

    .hiring{
        max-width: 430px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 430px){
    .about-items{
        position: relative;
    }

    .about-location{
        position: absolute;
        top: 5px;
        left: 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 360px){
    .container{
        max-width: 300px;
    }

    .trial_texts {
        max-width: 310px;
    }

    .hiring{
        max-width: 310px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px){
   .container{
    max-width: 290px;
   }   

    .hiring{
        max-width: 270px;
        margin: 0 auto;
    }

    .header{
        background-color: #fff;
        padding: 8px 0;
    }

    .logo img{
        margin-right: 13px;
    }

    .inbox{
        padding: 50px 0 48px;
    }

    .container-image_img{
        max-width: 290px;
        width: 100%;
    }

    .container-image{
        margin-bottom: 32px;
    }

    .main{
        padding: 0 0 36px;
    }

    .main_container{
        flex-direction: column;
    }

    .main_container > div:last-of-type{
        z-index: 0;
        position: static;
        right: 25px;
    }

    .main_container img{
        width: 290px;
        height: 180px;
        width: 100%;
        height: 100%;
        margin-top: 33px;
    }

    .main_title{
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        max-width: 290px;
        margin: 35px 0 24px;
    }

    .main_text{
        margin-bottom: 30px;
    }

    .button-flex {
        flex-direction: column;
    }

    .main .button-flex{
        margin-right: 0px;
        max-width: 290px;
        width: 100%;
    }

    .main .button-flex:not(:last-child){
        margin-bottom: 15px;
    }

    .flex_inbox-column{
        flex-direction: column;
    }

    .info{
        text-align: start;
    }
    

    .info_pretitle{
        margin-bottom: 17px;
    }
   
    .info_title{
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin-bottom: 18px;
    }

    .info_text{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
    }

    .inbox_response{
        padding: 30px 20px;
    }

    .grid3{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(1, 290px);
        grid-template-rows: repeat(1, 300px);
        justify-content: center;
    } 

    .grid3 div{
        max-width: 290px;
        margin-right: 0px;
        margin: 0 auto;
    }

    .grid3 div:not(:last-child) {
        margin: 0 auto;
    }

    .intro-3 h3 {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    .engage_b {
    margin: 30px 0 40px;
    }

    .intro-1 p, .intro-2 p, .intro-3 p {
        font-size: 24px;
        line-height: 34px;
        color: #2B292D;
    }

   .button-flex{
    flex-direction: column;
    } 

   .button-flex .button{
    margin-right: 0px;
    max-width: 290px;
    width: 100%;
    }

    .button-flex .button-white{
        max-width: 290px;
        width: 100%;
    }

    .intro-3 h5{
        line-height: 34px;
    }

    .engage1{
        padding: 50px 0 50px;
    }

    .about-items{
        position: relative;
    } 

    .about-pretitle{
        line-height: 28px;
    }

    .communicate_info-flex {
        flex-direction: column;
    }

    .communicate_info-container:not(:last-child) {
        margin-bottom: 33px;
    }

    .communicate-flex{
        display: inline; 
    }

    .communicate-img img{
        max-width: 290px;
        width: 100%;
    }

    .communicate-img{
        margin: 57px 0 112px;
    }


    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        gap: 17px;
    }

    .grid_item:nth-child(2){
        display: none;
    }

    .grid_item:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }
}
